<select name="newcategory" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><br>
<!--{{#each categories}}
  <option value="{{this.description}}">{{{ this.description }}}</option>
{{/each}}-->
 <option value="{{this.description}}">valami</option>
</select>